<html>
<head>
    <title>Document</title>
</head>

<body>

    <table border="1" cellspacing="0" cellspacing="0" cellpadding="10" align="center">
        <tr>
            <td>
                <h3>Blod system</h3>
            </td>
        </tr>
        <tr>
            <td>
                <a href="../model/AddAuthor.html">Add Author</a>

            </td>
        </tr>
        <tr>
            <td>
                <a href=UpdateAuthor.php">Update Author</a>
            </td>
        </tr>
        <tr>
            <td>
                <a href="DeleteAuthorphp">Delete Author</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" align="center">
                <button ><a href="../model/admin_dashboard.php">Go Back!?</a></button>

            </td>
        </tr>
    </table>
</body>

</html>